doctype html
html
  head
    title Paperwallz
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='/javascripts/script.js')
  body
    h1 Paperwallz

    input#title(type='text', placeholder='Enter the title')
    input#url(type='text', placeholder='Enter the url')
    input#submit(type='button', onclick='jQuery.submit()', value='Add')

    if wallpaper_list.length > 0
      ul
        each wallpaper in wallpaper_list
          li #{wallpaper.title} #{wallpaper.url}
    else
      p There are no wallpapers.