doctype html
html
  head
    title Paperwallz
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  body
    a(href='/auth/reddit') Login with reddit