doctype html
html
  head
    title Paperwallz
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-sortable/0.9.13/jquery-sortable-min.js')
    script(src='/javascripts/timer.js')
    script(src='/javascripts/ajax.js')
  body
    div#main
      div#userBox
        div#userBoxInner
          span#username= user.name
          a#logout(href='/logout') Log out
      div#timerBox
        div#timerBoxInner
          input#toggle(type='button', value='Toggle')
          p#timer
          input#settings(type='button', value='Settings')
        div#sliderBox
          input#slider(type='range', min='0', max='10000', value='0')
      div#addBox
        input#add_title(type='text', placeholder='Enter the title')
        input#add_url(type='url', placeholder='Enter the url')
        input#add_submit(type='button', value='Add')
    div#fade
      div#settingsContent
        p.label Submission interval
        div#timeBox
          input#hourSetting.numberSetting(type='number', name='hour', min='0', max='23', value='3')
          input#minuteSetting.numberSetting(type='number', name='minute', min='0', max='59', value='00')
        div#settingsButtons
          input#settingsCancel(type='button', value='Cancel')
          input#settingsOk(type='button', value='OK')
          span.popuptext#myPopup You have to pause first to change settings