* {
  padding: 0;
  margin: 0;
  /* border: 1px solid rgb(129, 129, 129); */
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  color: #525252;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  font-family: inherit;
}

#main {
  padding-top: 60px;
  width: 680px;
  padding-bottom: 200px;
}

#userBox {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}

#userBoxInner {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

#username {
  font-size: 22pt;
}

input[type=button] {
  padding: 12px;
  background-color: #E2E2E2;
  color: inherit;
  border-width: 0;
}

#logout {
  margin-left: 20px;
  padding: 12px;
  text-decoration: none;
  color: inherit;
  background-color: #E2E2E2;
  font-size: 13.33px;
  display: block;
}

#timerBox {
  width: 100%;
  padding: 22px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#sliderBox {
  margin-top: 22px;
  width: 100%;
}

#slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;   
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #00B7FF;
  cursor: pointer;
}

#slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #00B7FF;
  cursor: pointer;
}

#timerBoxInner {
  width: 100%;
  display: flex;
  align-items: center;
}

#timer {
  font-size: 40pt;
  display: inline-block;
  margin: auto;
}

#addBox {
  width: 100%;
}

#add_title, #add_url, #add_submit {
  margin: 20px 0px 20px 20px; /* no idea why doesn't 'margin: 20px' work */
  /* margin: 20px; */
  padding: 12px;
}

#queueBox {
  width: 100%;
}

#headNumber {
  width: 7%;
}

.titleElem {
  text-align: left;
}

#headLink, #headActions {
  width: 15%;
}

a {
  color: #00B7FF;
}

tr {
  text-align: center;
}

td, th {
  padding: 5px;
}

td {
  border: 1px solid #B9B9B9;
}

table {
  border-collapse: collapse;
}

.completed {
  background-color: #F1F1F1;
}

#queueBox tr.placeholder {
  display: block;
  background: red;
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
}

#queueBox tr.placeholder:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-left-color: blue;
  margin-top: -5px;
  left: -5px;
  border-right: none;
}

body.dragging, body.dragging * {
  cursor: move !important; /* this is not working for some reason... */
}

.dragged {
  position: absolute;
  opacity: 0.8;
  z-index: 2000;
}

#fade {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#settingsContent {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
}

#timeBox {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#settingsButtons {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#settingsOk {
  margin-left: 20px;
}

.timeBoxInnerInner {
  margin: 5px;
  padding: 5px;
  display: inline-flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}

.numberSetting {
  text-align: center;
  font-size: 40pt;
  color: inherit;
  /* border: none; */
}

.label {
  text-align: center;
}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.popuptext {
  visibility: hidden;
  width: 170px;
  background-color: #6d6d6d;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 7px;
  position: absolute;
  z-index: 1;
  left: 67%;
}

.popuptext::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0%;
  margin-left: -10px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #6d6d6d transparent transparent;
}