module.exports =
{
    mongodb: 'YOUR MONGODB URL HERE',
    reddit_secret: 'YOUR REDDIT SECRET HERE',
    reddit_clientid: 'YOUR REDDIT CLIENTID HERE',
    reddit_callback: 'YOUR REDDIT CALLBACK HERE'
}